*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tudo{
  padding: 0 5rem 0 5rem;
  margin: auto;
}

body {
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

:root{
    --turquesa-escuro: #103b34;
    --hover: #39867c;
}

nav{
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 2.5rem;
}

header{
 display: flex;
 justify-content: space-between;
 align-items: center;
  display: flex;
  gap: 1rem;
  align-items: baseline;
  font-size: 2rem;
}

header a:hover{
  color: var(--hover);
}

nav img{
  width: 3rem;
  height: 3rem;
}

nav button{
  background: none;
  border: none;
  cursor: pointer;
}

#braintec{
 font-size: 7.5rem; 
}


a{
  text-decoration: none;
  color: var(--turquesa-escuro);
}

#imagemMulher{
  width: 100rem;
  height: 50rem;
  display: block;
  margin: 0 auto; /* centraliza horizontalmente */
  
}

.sec1 h1{
  font-size: 5rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec1 p{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2 h2{
  font-size: 4rem;
}

.sec2 p{
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.sec2{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sec2 img{
  height: 20rem;
  width: 30rem;
}

.linha {
  display: flex;         
  gap: 30rem;
  justify-content: center;

}


.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--turquesa-escuro);
  border-radius: 1.5rem;
  padding: 2rem;
}

.item p{
  padding-bottom: 3rem;
  color: white;
  max-width: 45rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.item h2{
  color: white;
}

.item img{
  border-radius: 1.5rem;
}

.sec2 button{
  background-color: white;
  color: var(--turquesa-escuro);
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  cursor: pointer;
}

.sec3{
  background-color: var(--turquesa-escuro);
  color: white;
}

.sec3 h1{
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.subtitulo{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linha{
  width: 40rem;       /* largura da linha */
  border: 0;
  border-bottom: 0.2rem solid white;
  margin: 1rem auto;  /* centraliza */
}

