*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: 'Inria Sans', sans-serif;
  background-color: var(--branco-esverdeado);
}


html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

:root{
    --turquesa-escuro: #103b34;
    --hover: #39867c;
    --verde-claro: #C9EAC1;
    --verde-meio-claro: #58C79D;
    --quase-tuquesa: #1E5D56;
    --branco-esverdeado: #F0FDF4;
    --amarelo: #F8B52D;
    --cinza-claro: #eaf3ef;
    --verde-musgo: #61B33C;
    --azul: #2CA8A2;
    --verde-verde: #32A852;
    --azul-claro: #E8F8F8;
    --verde-esbranquiçado: #F1FCEF;
}

.logo a{
    text-decoration: none;
}
hr{
    width: 100%;
}
aside {
    width: 25rem;
    background-color: var(--cinza-claro);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.2rem solid #ccc;
    height: 100vh;
  }
  
  aside h2 {
    font-size: 2.2rem;
    color: #2d6a4f;
  }
  
  aside p {
    font-size: 1.4rem;
    color: #555;
  }
  
  aside nav ul {
    list-style: none;
    margin-top: 1rem;
  }
  
  aside nav ul li {
    padding: 1.2rem;
    margin-bottom: 0.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
    color: #333;
  }
  
  aside nav ul li:hover {
    background-color: #cde5d8;
  }

  .menu a{
    text-decoration: none;
    color: black;
  }

  .container{
    display: flex;
  }

  .menu img{
    height: 2rem;
    width: 2rem;
  }

  .menu li{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .menu a{
    font-size: 1.7rem;
  }

  .menu p{
    text-transform: uppercase;
    font-size: 2rem;
  }

  .dica{
    margin-top: 7rem;
  }

  .dica h4{
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .dica p{
    font-size: 1.8rem;
    background-color: var(--verde-claro);
    border-radius: 2rem;
    border: 0.2rem solid var(--verde-meio-claro);
    padding: 1rem;
  }